<h1>Your Tasks</h1>
<% @tasks.each do |t| %>
<ul>
<li><%= check_box_tag :completed , 1 , t.completed ? true : false, disabled: true %> <%= link_to t.title, task_path(t.id) %>
<%= link_to "Delete", task_path(t.id),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
</li>
</ul>
<% end %>

